.container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin-top: 5em;
    padding: 2em;
    gap: 5%;

    .licence {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 2em 0;
    }
}